/* =============== TYPOGRAPHY ================ */
.about-subtitle{
    font-size: larger;
    margin-bottom: 1em;
    color: var(--clr-hl-4);
}

.about-body-title {
    font-size: 2em;
    line-height: 1.2;
    margin-top: 2em;
}

.section__management {
    width: 96%;
    margin: 0 auto;
    border-bottom: 1px solid var(--clr-hl);
}

.management-section-title {
    position: relative;
}

.management-section-title::after {
    content: "";
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 5px;
    background: rgb(213, 46, 46);
    background: linear-gradient(114deg, rgba(213, 46, 46, 1) 0%, rgba(201, 27, 27, 1) 47%, rgba(148, 37, 37, 1) 100%);
}

.section--subtitle {
    padding: 1.5em 0 0.5em;
    letter-spacing: 1.5px;
}

.management-description,
.about-body {
    letter-spacing: 1px;
    margin-top: 1em;
}

.management-description {
    font-weight: 700;
    font-size: 1.2em;
}

.cutoff-text {
    --max-lines: 6;
    --line-height: 1.4;
    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    position: relative;
    overflow: hidden;
}

.cutoff-text:has(+ .expand-btn:not(:checked))::before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, var(--clr-light));

}

.expand-btn {
    appearance: none;
    margin-top: 0.5em;
    cursor: pointer;
    margin-bottom: 2em;
    
}

/* .expand-btn:hover {
    
} */

.expand-btn::before {
    content: "Expand";
    color: var(--clr-light);
    letter-spacing: 1.2px;
    position: absolute;
    right: 5%;
    border: 1px solid var(--clr-hl-4);
    border-radius: 6px;
    background-color: var(--clr-hl-4);
    padding: 0.5em;
}

.expand-btn:hover::before {
    color: var(--clr-hl-4);
    border: 1px solid var(--clr-hl);
    background-color: var(--clr-hl);
}

.expand-btn:checked::before { 
    content: "Collapse";
}

.cutoff-text:has(+ .expand-btn:checked) {
    max-height: none;
}


/* =============== LAYOUT ================ */

.section__about,
.section__management {
    /* max-width: 900px; */
    margin: 0 auto;
}

.objective {
    margin-top: 2em;
}

.objective-container {
    display: flex;
    flex-direction: column;
}

.about-image {
    width: 100%;
    object-fit: contain;
}

.section__management {
    max-width: 900px;
    padding: 3.5em 0.5em 3.5em;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr;
}

.profile,
.management {
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.profile {
    background-color: transparent;
    padding: 1em 0.2em 0;
    justify-content: center;
    margin: 2em auto;
    cursor: pointer;
}


.management {
    background-color: #f0f8ff;
    padding: 1em 1.5em;
    margin-bottom: 4em;
    border-radius: 6px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top: 8px solid var(--clr-hl);
    width: 90vw;
}



.management-info {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    padding: 3em 0;
}

.profile-name,
.management-name {
    font-size: 1.5rem;
    padding: 0.2em 0;
}

.profile-title {
    font-size: 0.75em;
}

.management-title {
    font-size: 1em;
}

.profile-image-container,
.management-image-container {
    width: 100%;
}

.profile-image,
.management-image {
    width: 50%;
    max-width: 150px;
    object-fit: contain;
    border-radius: 50%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(25, 209, 123, 0.8);
    z-index: 1000;
    animation: modal-animation 300ms ease-in-out;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: modal-animation 600ms ease-in-out;
}

.modal-close-btn {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}



@media (min-width: 900px) {
    .objective {
        margin-top: 5em;
    }

    .objective-container {
        flex-direction: row;
        align-items: flex-start;
        gap: 5em;
    }

    .about-body-title {
        margin-top: 0;
    }


    .about-image {
        width: 50vw;
    }

    .profile-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .management {
        max-width: 700px;
        padding: 1em 2.5em;
        margin: 0;
    }

    .management-inner-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
    }

    .management-image {
        width: 100%;
    }

    .management-image-container {
        width: 60%;
        margin: 0 auto;
        object-fit: contain;
    }

    .management-info {
        padding: 3em 1em;
    }
}

@media (min-width: 1200px) {
    .section__about{
        max-width: 1400px;
    }

}

@keyframes modal-animation {
    0% {
        top: -100px;
        opacity: 0;
    }

    25% {
        top: -50px;
        opacity: 1;
    }

    50% {
        top: -20px;
        opacity: 1;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

