/* =============== CONTACTS =============== */
.section__contact {
    min-height: 60vh;
    background-color: var(--clr-hl-4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container {
    padding: 0;
    display: flex;
    flex-direction: column;

}

.contact--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: var(--clr-hl);
    padding: 2em;
    max-width: 600px;
    margin: 2em auto;
    font-size: 0.8em;
    letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;

}

.contact--info--title {
    margin-bottom: 0.5em;
}

.contact-subtitle {
    margin-bottom: 1em;
}

.contact--info--list {
    list-style: none;
    padding: 0 1em;
}

.contact--info--list li {
    display: flex;
    align-items: center;
}

.contact--info--list li div {
    display: inline-block;
}


.contact--info--list>li {
    width: 100%;
    line-height: 1.4;
    padding: 0 0 1.5em;
}

.contact--info--list>li:first-of-type {
    padding-top: 1.5em;
}

.contact--icon {
    width: 1.5em;
    padding-right: 0.5em;
    margin-right: 1.5em;
}



@media (min-width: 690px) {
    .section__contact {
        justify-content: space-around;
        align-items: center;
    }

    .contact-container {
        flex-direction: row;
        gap:1em;
        justify-content: space-around;
    }

    .contact--info:last-of-type {
        padding-left: 2.5em;
    }
    
    .contact--info {
        margin: 2em 0;
    }
}