/* ================= Navigation =================== */

.navbar {
  width: 100vw;
  padding: 1em;
  position: fixed;
  background-color: transparent;
  top: 0;
  z-index: 100;
  max-height: 75px;
}

.hero-content-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav {
  position: fixed;
  z-index: 900;
  background: var(--clr-light);
  top: 0;
  bottom: 0;
  right: 0;
  width: 90vw;
  transform: translateX(150%);
  transition: transform 300ms ease-in-out;
  padding-top: 5em;
  border-left: 3em solid var(--clr-hl-3);
  border-image: linear-gradient(to bottom, var(--clr-hl-3), var(--clr-hl-4)) 1;
}

.nav-logo {
  max-width: 50px;
  margin-left: 0;
}

.sticky .navbar {
  border-bottom: 1px solid var(--clr-hl);
  background-color: var(--clr-light);
  -webkit-box-shadow: 6px 19px 21px -18px rgba(38, 38, 38, 0.67);
  -moz-box-shadow: 6px 19px 21px -18px rgba(38, 38, 38, 0.67);
  box-shadow: 6px 19px 21px -18px rgba(38, 38, 38, 0.67);
}

.logo-nav {
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
}

.nav-link {
  color: var(--clr-hl-4);
  text-decoration: none;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: var(--fw-bold);
}

.sticky .nav-link {
  color: var(--clr-hl-4);
}

.nav-link:hover {
  color: var(--clr-hl-2)
}


.active {
  color: #8f1818;
}

.menu-icon {
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0.8em 1em 0 0.2em;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  z-index: 1000;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger::after,
.hamburger::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;

}

.hamburger,
.hamburger::after,
.hamburger::before {
  background-color: var(--clr-hl-5);
  height: 4px;
  width: 2rem;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.sticky .hamburger,
.sticky .hamburger::after,
.sticky .hamburger::before {
  background-color: var(--clr-hl-4);
}

.nav-open .hamburger,
.nav-open .hamburger::after,
.nav-open .hamburger::before {
  background-color: var(--clr-hl-4);
}

.hamburger::after {
  bottom: 8px;
}

.hamburger::before {
  top: 8px;
}



.nav-open .nav {
  transform: translateX(0%);
}

.nav-open .menu-icon {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(135deg)
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-8px)
}

.nav-open .hamburger::after {
  opacity: 0;
}


/* =============== FOOTER =============== */


.footer {
  /* background-color: rgba(61, 61, 61, 1); */
  background-color: var(--clr-dark-2);
  color: rgba(255, 255, 255, 0.6);
  padding: 2em 0 0;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 1px;
}

.footer-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0 0;
}

.footer-navs {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--clr-hl);
  padding: 2em 0;
}

.footer-social-media-container{
  padding: 2em 0;
}

.footer-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;  
}

.footer-nav-list>li {
  padding-bottom: 1em;
}

.footer-nav-list>li:last-of-type {
  padding-bottom: 0;
}

.footer-social-media-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-nav-list-icons{
  display: flex;
  padding: 2em 0 0;
  place-content: center;
  list-style: none;

}

.footer-nav-list-icons > li{
  padding: 0 2em;
}

.footer .active {
  color: var(--clr-light);
}

.copyright {
  font-size: 0.8em;
  text-align: center;
  padding: 3em 1.5em;
  border-top: 1px solid #4a4949;
  background-color: rgb(30, 30, 30);

}

.footer-nav-link {
  color: var(--clr-light);
  text-decoration: none;
  text-align: left;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--clr-hl);
}

.footer-social-icon {
  width: 25px;
  /* transform: scale(1); */
}


@media (prefers-reduced-motion: no-preference){
  .footer-social-icon:hover{
    animation: hover-scale 500ms ease-in-out;
  }
}

@keyframes hover-scale {
  0%{
    transform: scale(1);
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(138%) contrast(119%);
  }
  50%{
    transform: scale(1.3);
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(138%) contrast(119%);
  }
  100%{
    transform: scale(1);
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(138%) contrast(119%);
  }
}

/* ============ MEDIA QUERIES ============ */

@media (min-width: 1100px) {
  .hero-content-wrapper{
    max-width: 1100px;
    margin: 0 auto;
  }
}

@media (min-width: 750px) {

  .navbar {
    align-items: center;
  }

  .menu-icon {
    display: none;
  }

  .nav {
    background: transparent;
    display: block;
    height: inherit;
    position: relative;
    width: inherit;
    transform: translateX(0%);
    padding: 0 3em 0 1em;
    border: none;
  }

  .nav-logo {
    max-width: 50px;
    margin-left: 3em;
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-link {
    color: var(--clr-hl-5);
    text-decoration: none;
    font-size: 2rem;
    font-weight: var(--fw-bold);
    padding: 0 1em;
  }

  .footer {
    font-size: 0.7em;
  }

  .footer-nav-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 0 3em;
  }

  .footer-navs{
    width: 50%;
    border: none;
  }

}