/* =============== PRODUCT FEATURES =============== */

.section__product {
    padding: 4em 0;
}

.section__services {
    padding-top: 85px;
}

.page--subtitle {
    padding: 3em 0 1em 2vw;

}

.section__product--features {
    padding: 2em 0;
}

.section__product--title {
    margin-bottom: 2em;
    font-size: 1.5rem;
}

.product--feature {
    width: 100vw;
    max-width: 700px;    
    display: flex;
    justify-content: space-between;
    background-color: rgb(214, 250, 216);
}

.product--feature .image-container {
    width: 50%;
    height: inherit;
    max-height: inherit;
    display: flex;
    place-content: center;
    background-color: var(--clr-hl-1);
}

.image-container .image{
    width: 100%;
    max-width: 300px;
    object-fit: cover;

}


.left {
    flex-direction: row;
    text-align: left;
}

.right {
    flex-direction: row-reverse;
    text-align: right;
}

.right .image-container {
    justify-content: flex-end;
}

.left .image-container {
    justify-content: flex-start;
}

.right .image {
    object-position: 60%;

}

.left .image {
    object-position: 90%;

}

.product--feature .info {
    color: var(--clr-hl-4);
    width: 50%;
    max-height: 40vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.info .heading {
    text-transform: capitalize;
    font-size: 1.3em;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
    max-width: 300p

}

.product--feature .body {
    padding: 0;
    font-weight: 500;
    max-width: 300px;
    margin: 0 auto;
}

/* ============ SERVICES ============ */
.section__service {
    padding: 4em 0;
}

.service--body {
    padding-top: 2em;
    width: 80%;
    max-width: 550px;
    margin: 0 auto;
}

/* ============ MEDIA QUERIES ============ */

@media (min-width: 600px) {
    .product--feature {
        margin: 0 auto 0;
    }

    .image-container .image{
        min-height: 300px;
    
    }
}