/* =============== PRODUCT FEATURES =============== */
.product-main {
    background-color: transparent;
}
.section-product {
    padding: 4em 0 0;
}

.section-services {
    padding-top: 85px;
}

.features--title {
    font-size: 2.2em;
    line-height: 1.2;
    letter-spacing: 3px;
    padding: 1em 0 2em;
    color: var(--clr-hl-4);
}

.section-product-features {
    padding: 2em 0 0;
    margin-bottom: 3em;
}

.section-product-title {
    margin-bottom: 2em;
    font-size: 1.5rem;
}


.left,
.right {
    text-align: center;
}

.left {
    flex-direction: column;
}

.right {
    flex-direction: column;
}


.product-heading {
    text-transform: capitalize;
    font-size: 1.3em;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
}

.product-body {
    padding: 0;
    font-weight: 500;
    max-width: 300px;
    margin: 0 auto;
}

.section-service-article,
.product-feature {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
/* ============ SERVICES ============ */
.section-service {
    margin-top: 3em;
}

.scope-body {
    padding-top: 2em;
    width: 80%;
    max-width: 550px;
    margin: 0 auto 0.5em;
}

.service-info,
.product-info {
    color: var(--clr-hl-4);
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-heading {
    font-size: 1.2em;
    padding-bottom: 1em;
}

.service-body {
    padding: 0 1em;
}



.service-image,
.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ============ BANNER ============ */
.banner-image {
    width: 100%;
    height: 30vh;
    background-color: #404040;
    background-image: url("../images/pavedRoad.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;
    position: relative;
}

.banner-image:hover {
    background-color: #696969;
}

.banner-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(5, 166, 16, 0.3);
}

.banner-image-text {
    color: var(--clr-light);
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.2;
    z-index: 1;
    
}

.banner-btn {
    padding: 1em 1.5em;
    margin-top: 2em;
    background-color: var(--clr-light);
    color: var(--clr-hl-2);
    align-self: center;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
}

.banner-btn:hover {
    background-color: var(--clr-hl-2);
    color: var(--clr-light);
}


/* ============ MEDIA QUERIES ============ */

@media (min-width: 600px) {
    .product-feature {
        margin: 0 auto 0;

    }

    .service-image,
    .product-image {
        width: 50%;
    }

    .left,
    .right {
        text-align: left;
    }

    .left {
        flex-direction: row;
    }

    .right {
        flex-direction: row-reverse;
    }

    .service-info,
    .product-info {
        width: 50%;
    }

    .banner-image {
        height: 60vh;
        padding: 3em;
    }

    .banner-image-text {
        font-size: 3.6em;

    }

    .banner-image-text-primary {
        font-size: 3em;

    }

}