@import-normalize;
:root {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;

  --clr-hl: #a8fcb0;
  --clr-hl-2: #d52e2e;
  --clr-hl-3: #84f368e6;
  --clr-hl-4: #044538;
  --clr-light: #f7f7f7;
  --clr-dark: #1d1d1d;
  --clr-dark-2: #4a4949;

  --fw-normal: 400;
  --fw-bold: 700;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  --animate-delay: 2s;
  --animate-duration: 3s;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  color: var(--clr-dark);
  position: relative;
}

/* ============= TYPOGRAPHY ============ */
.page--title {
  font-size: 3.25rem;
  text-align: center;
  padding-top: 4em;
  line-height: 1.2;
  letter-spacing: 2px;
  position: relative;
}

.section--title {
  font-size: 2.25rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
  padding: 0 1em;
  margin: 0.5em 0 1em;
}

.features--subtitle{
  font-size: 2em;
  line-height: 1.2;
}

.page--title::after {
  content: "";
  height: 10px;
  width: 50%;
  position: absolute;
  bottom: -6px;
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgb(213, 46, 46);
  background: linear-gradient(114deg, rgba(213, 46, 46, 1) 0%, rgba(201, 27, 27, 1) 47%, rgba(148, 37, 37, 1) 100%);
}

/* ============ LAYOUT ================ */
.main{
  background: rgb(252,249,246);
background: linear-gradient(185deg, rgba(252,249,246,1) 0%, rgba(235,249,227,1) 28%, rgba(241,251,235,1) 52%, rgba(242,250,234,1) 79%, rgba(236,251,216,1) 100%);
}

/* ================= Hero Section ================= */
.hero-container{
  height: 90vh;
  /* min-width: 100vw; */
  background-image: url(./images/road-into-city.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

.overlay{
  height: 100%;
  width: 100%;
  background: rgba(28, 28, 28, 0.67);
  overflow: hidden;
}

.hero {
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.logo-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 1.5em; */
  font-family: 'Inter', sans-serif;
}


.hero__logo {
  width: 6em;
  margin-bottom: 0.5em;
}

.hero__title {
  color: var(--clr-hl-3);
  font-size: 2em;
  letter-spacing: .2rem;
  text-align: center;
  margin: 5em 0 1em;
  display: inline-block;
}

.hero__title--primary {
  font-size: 3rem;
}

.hero__title--secondary {
  color: rgb(245, 250, 253);
  text-transform: uppercase;
  display: block;
  font-size: 1rem;
  letter-spacing: 0.01rem;
}

.hero__phrase {
  font-weight: 700;
  font-size: 2.7em;
  text-transform: capitalize;
  line-height: 1.2;
  text-align: center;
  padding: 0 1em 0.5em;

}

.hero__tagline {
  font-weight: 700;
  font-size: 1.1em;
  text-transform: none;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: left;
  color: var(--clr-hl-3);
  max-width: 500px;
  margin-bottom: .5em;
  margin: 0 0 1em 1.5em;
  list-style:circle;

}

.catchphrase-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cta-container {
  width: 90%;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero__cta {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  width: 200px;
  padding: 0.65em 1.3em;
  margin-bottom: 1.5em;
  border: 3px solid #8f1818;
}

.hero__cta--form {
  background-color: #8f1818;
  color: rgb(245, 250, 253);
}

.hero__cta--contact {
  color: rgb(245, 250, 253);
  letter-spacing: 2px;
}

.hero__cta:focus,
.hero__cta:hover {
  background-color: #d52e2e;
  border: 3px solid #fcf8f8;
}

/* ======== Utility ============ */

/* triangle used to motion downward */
.triangle {
  width: 0;
  height: 0;
  border: 20px solid rgb(38, 38, 38);
  border-top-color: var(--clr-hl);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin: 1em auto;
  padding-bottom: 1em;
}

.page-logo {
  max-width: 40px;
  margin: 1em 0 0 0;
}

.section {
  padding: 4.5em 1.5em 3.5em;
}



.shadow {
  -webkit-box-shadow: 6px 19px 21px -18px rgba(38, 38, 38, 0.67);
  -moz-box-shadow: 6px 19px 21px -18px rgba(38, 38, 38, 0.67);
  box-shadow: 6px 19px 21px -18px rgba(38, 38, 38, 0.67);
}

/* =============== BENEFITS =============== */

.section__benefits{
  padding-bottom: 0;
}

.benefit {
  width: 100%;
  max-width: 350px;
  height: 100%;
  margin: 0 auto;
}

.benefit .info {
  height: inherit;
}

.benefit__image {
  margin-bottom: 1em;
}

.benefit__heading {
  color: var(--clr-hl-4);
  font-size: 1.5em;
  padding: 0.2em 0 0;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1em;
}

.benefit__body {
  color: var(--clr-hl-4);
  padding: 0 0.5em 2.5em;
  font-size: 1.1em;
  line-height: 1.6;
  text-align: center;

}

/* =============== FEATURES =============== */

.section__features {
  background-color: var(--clr-hl);
  color: rgba(61, 61, 61, 0.8);
  text-align: center;
}

.features--subtitle{
  margin-bottom: 1em;
}

.feature .image {
  width: 60px;
  margin: 1em 0 0.5em;
}

.feature .heading {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0.5em;

}

.feature .body {
  padding: 0 1.5em 2em;
  font-weight: 700;
}

/* =============== FAQ =============== */

.section__faq{
  border-top: 1px solid var(--clr-hl-3);
  padding: 1em 0 4em;
  min-height: 60vh;
}

.faq-title{
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 0.3em;

}

.accordion{
  padding-top: 4em;
  max-width: 80%;
  margin: 0 auto;
}

.accordion--title{
  font-size: 1.2em;
  padding: 0.5em 1em;
}

.accordion-answer{
  padding-left: 1.5em;
}


/* =============== MEDIA QUERIES =============== */

@media (min-width: 280px) {
  body {
    font-size: 1rem;
  }

  .hero__title {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  
  .hero__title--primary {
    font-size: 3rem;
  }
  
  
  .hero__title--secondary {
    font-size: 1rem;
    padding: 0.3em;
    letter-spacing: 1px;
  }

}

@media (min-width: 350px) {
  body {
    font-size: 1.4rem;
  }

  .hero__title {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

}


@media (min-width: 690px) {
  body {
    font-size: 1.6rem;
  } 

  .cta-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .section--title {
    font-size: 3rem;
  }

  .page--title {
    font-size: 3.6rem;
    text-align: left;
    margin-left: 10vw;
  }

  .page--title::after {
    width: 25%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .hero__title--primary {
    font-size: 5rem;
  }
  
  
  .hero__title--secondary {
    font-size: 1.4rem;
    padding: 0.5em 1.5em;
  }
  

  .hero {
    min-height: 90vh;
    justify-content: center;
  }


  .hero__tagline {
    padding: 0.5em 1.5em;
  }

  .benefit {
    max-width: 450px;
    margin: 0 auto;
  }

}