@import-normalize;

:root {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;

  --clr-hl: #a8fcb0;
  --clr-hl-2: #d52e2e;
  --clr-hl-3: #84f368e6;
  --clr-hl-4: #044538;
  --clr-hl-5: #20CB31;
  --clr-light: #f7f7f7;
  --clr-dark: #1d1d1d;
  --clr-dark-2: #4a4949;

  --fw-normal: 400;
  --fw-bold: 700;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  --animate-delay: 2s;
  --animate-duration: 3s;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  color: var(--clr-dark);
  position: relative;
}

/* ============= TYPOGRAPHY ============ */
.page--title {
  font-size: 3.25rem;
  text-align: center;
  padding-top: 4em;
  line-height: 1.2;
  letter-spacing: 2px;
  position: relative;
}

.section--title {
  font-size: 2.25rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
  padding: 0 1em;
  margin: 0.5em 0 1em;
}

.features--subtitle {
  font-size: 2em;
  line-height: 1.2;
}

.page--title::after {
  content: "";
  height: 10px;
  width: 50%;
  position: absolute;
  bottom: -6px;
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgb(213, 46, 46);
  background: linear-gradient(114deg, rgba(213, 46, 46, 1) 0%, rgba(201, 27, 27, 1) 47%, rgba(148, 37, 37, 1) 100%);
}

/* ============ LAYOUT ================ */
.main {
  background: rgb(232, 252, 238);
  background: linear-gradient(152deg, rgba(232, 252, 238, 1) 0%, rgba(242, 242, 251, 1) 46%, rgba(232, 252, 238, 1) 100%);
}

/* ================= Hero Section ================= */
.hero-container{
  height: 95vh;
  background-image: url(./images/road-into-city.webp);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.overlay {
  height: 100%;
  width: 100%;
  background: rgb(73,74,73);
background: linear-gradient(180deg, rgba(222,246,255,0.8) 0%, rgba(60, 60, 65, 0.35) 46%, rgba(68, 68, 68, 0.65) 100%);
  overflow: hidden;
  position: absolute;
  top: 0;
}

.hero {
  color: var(--clr-light);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}


.logo-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
}


.hero__logo {
  width: 6em;
  margin-bottom: 0.5em;
}

.hero__title {
  color: var(--clr-hl-5);
  font-size: 2em;
  letter-spacing: .2rem;
  text-align: center;
  margin: 3em 0 1em;
  display: inline-block;
}

.hero__title--primary {
  display: inline-block;
  font-size: 3rem;
  padding-bottom: 0.2em;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.hero__title--secondary {
  color: rgb(245, 250, 253);
  text-transform: uppercase;
  display: block;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background-color: var(--clr-hl-2);
  padding: 0.2em 0.5em;
}

.hero__phrase {
  font-weight: 700;
  font-size: 2.7em;
  text-transform: capitalize;
  text-shadow: 2px 4px 12px #000000;
  line-height: 1.2;
  text-align: center;
  padding: 0.7em 1em 0.3em;

}

.hero__list {
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: left;
  color: var(--clr-light);
  max-width: 500px;
  margin-bottom: .3em;
  padding: 0 1em 0.5em 4em;
}

.hero__list-item {
  padding: 0 0 0 0.5em;
  margin-bottom: 0.5em;
  text-shadow: 2px 4px 8px #000000;
}

.hero__list-item::marker {
  content: url(./images/check-mark.png);
}

@media (max-width: 300px){
  .hero__list-item::marker {
    content: "";
  }
}

@keyframes flip {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
  
}

.catchphrase-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.6em;
}

.cta-container {
  width: 90%;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero__cta-btn {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
  width: 200px;
  padding: 0.65em 1.3em;
  margin-bottom: 1.5em;
  border: 3px solid var(--clr-hl-5);
  border-radius: 10px;
}

.hero__cta-btn-form {
  background-color: var(--clr-hl-5);
  color: rgb(245, 250, 253);
}

.hero__cta-btn-contact {
  letter-spacing: 2px;
  color: rgb(245, 250, 253);
}

.hero__cta-btn:focus,
.hero__cta-btn:hover {
  background-color: var(--clr-light);
  border: 3px solid var(--clr-light);
  color: var(--clr-hl-5);
}

/* ======== Utility ============ */

/* triangle used to motion downward */
.triangle {
  width: 0;
  height: 0;
  border: 20px solid rgb(38, 38, 38);
  border-top-color: var(--clr-hl-5);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin: 1em auto;
  padding-bottom: 1em;
}

.page-logo {
  max-width: 40px;
  margin: 1em 0 0 0;
}

.section {
  padding: 4.5em 1.5em 3.5em;
}



.shadow {
  -webkit-box-shadow: 6px 19px 21px -18px rgba(38, 38, 38, 0.67);
  -moz-box-shadow: 6px 19px 21px -18px rgba(38, 38, 38, 0.67);
  box-shadow: 6px 19px 21px -18px rgba(38, 38, 38, 0.67);
}

/* =============== BENEFITS =============== */

.section__benefits {
  padding-bottom: 0;
}

.benefit {
  width: 100%;
  max-width: 350px;
  height: 100%;
  margin: 0 auto;
}

.benefit .info {
  height: inherit;
}

.benefit__image {
  margin-bottom: 1em;
}

.benefit__heading {
  color: var(--clr-hl-4);
  font-size: 1.5em;
  padding: 0.2em 0 0;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1em;
}

.benefit__body {
  color: var(--clr-hl-4);
  padding: 0 0.5em 2.5em;
  font-size: 1.1em;
  line-height: 1.6;
  text-align: center;

}

/* =============== FEATURES =============== */

.section__features {
  background-color: var(--clr-hl);
  color: rgba(61, 61, 61, 0.8);
  text-align: center;
}

.features--subtitle {
  margin-bottom: 1em;
}

.feature .image {
  width: 60px;
  margin: 1em 0 0.5em;
}

.feature .heading {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0.5em;

}

.feature .body {
  padding: 0 1.5em 2em;
  font-weight: 700;
}

/* =============== FAQ =============== */

.section__faq{
  border-top: 1px solid var(--clr-hl-5);
  border-bottom: 1px solid var(--clr-hl-5);
  padding: 1em 0 4em;
  min-height: 60vh;
}

.faq-title {
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 0.3em;

}

.accordion {
  padding-top: 4em;
  max-width: 80%;
  margin: 0 auto;
}

.accordion--title {
  font-size: 1.2em;
  padding: 0.5em 1em;
}

.accordion-answer {
  padding-left: 1.5em;
}


/* =============== MEDIA QUERIES =============== */

@media (min-width: 280px) {
  body {
    font-size: 1.2rem;
  }

  .hero__list{
    padding: 0 1em 0.5em 1em;
  }

}

@media (min-width: 350px) {
  body {
    font-size: 1.5rem;
  }

}


@media (min-width: 890px) {
  body {
    font-size: 1.6rem;
  } 
  .hero-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  .hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .catchphrase-container {
    margin: 0;
  }

  .hero__title {
    margin: 1em 0;
  }

  .cta-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .section--title {
    font-size: 3rem;
  }

  .page--title {
    font-size: 3.6rem;
    text-align: left;
    margin-left: 10vw;
  }

  .page--title::after {
    width: 25%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .hero__title--primary {
    font-size: 5rem;
    padding-bottom: 0.4em;
  }


  .hero__title--secondary {
    font-size: 1.4rem;
    padding: 0.5em 1.5em;
  }




  .hero__list {
    padding: 0.5em 1.5em;
  }

  .benefit {
    max-width: 450px;
    margin: 0 auto;
  }

}